<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComplainMapper">
	<!--分页查询-->
	<select id="findPage" parameterType="com.hniois.monitor.entity.Complain" resultType="com.hniois.monitor.entity.Complain">
		SELECT c.* FROM r_complain c
		LEFT JOIN trace_qcode t ON c.source_code=t.source_code
		<where>
			<if test="id != '' and id != null">c.id =#{id}</if>
			<if test="put_name != '' and put_name != null">AND c.put_name =#{put_name}</if>
			<if test="put_phone != '' and put_phone != null">AND c.put_phone = #{put_phone}</if>
			<if test="p_type != '' and p_type != null">AND c.p_type = #{p_type}</if>
			<if test="source_code != '' and source_code != null">AND c.source_code = #{source_code}</if>
			<if test="crop_name != '' and crop_name != null">AND c.crop_name = #{crop_name}</if>
			<if test="put_content != '' and put_content != null">AND c.put_content = #{put_content}</if>
			<if test="put_time != '' and put_time != null">AND c.put_time = #{put_time}</if>
			<if test="reply_way != '' and reply_way != null">AND c.reply_way = #{reply_way}</if>
			<if test="reply_time != '' and reply_time != null">AND c.reply_time = #{reply_time}</if>
			<if test="farm_id != '' and farm_id != null">AND c.farm_id = #{farm_id}</if>
			<if test="farm_name != '' and farm_name != null">AND c.farm_name = #{farm_name}</if>
			<if test="reply_content != '' and reply_content != null">AND c.reply_content = #{reply_content}</if>
			<if test="status != '' and status != null">AND c.status = #{status}</if>
		</where>
		limit #{offset},#{pageSize}
	</select>
	<!--分页查询count-->
	<select id="findPageCount" parameterType="com.hniois.monitor.entity.Complain" resultType="java.lang.Integer">
		SELECT count(*) FROM r_complain c
		LEFT JOIN trace_qcode t ON c.source_code=t.source_code
		<where>
			<if test="id != '' and id != null">c.id =#{id}</if>
			<if test="put_name != '' and put_name != null">AND c.put_name =#{put_name}</if>
			<if test="put_phone != '' and put_phone != null">AND c.put_phone = #{put_phone}</if>
			<if test="p_type != '' and p_type != null">AND c.p_type = #{p_type}</if>
			<if test="source_code != '' and source_code != null">AND c.source_code = #{source_code}</if>
			<if test="crop_name != '' and crop_name != null">AND c.crop_name = #{crop_name}</if>
			<if test="put_content != '' and put_content != null">AND c.put_content = #{put_content}</if>
			<if test="put_time != '' and put_time != null">AND c.put_time = #{put_time}</if>
			<if test="reply_way != '' and reply_way != null">AND c.reply_way = #{reply_way}</if>
			<if test="reply_time != '' and reply_time != null">AND c.reply_time = #{reply_time}</if>
			<if test="farm_id != '' and farm_id != null">AND c.farm_id = #{farm_id}</if>
			<if test="farm_name != '' and farm_name != null">AND c.farm_name = #{farm_name}</if>
			<if test="reply_content != '' and reply_content != null">AND c.reply_content = #{reply_content}</if>
			<if test="status != '' and status != null">AND c.status = #{status}</if>
		</where>
	</select>
	<!--分页查询count-->
	<select id="findCount" parameterType="com.hniois.monitor.entity.Complain" resultType="java.lang.Integer">
		SELECT count(*) FROM r_complain
		<where>
            <if test="id !=null and id !=''">id=#{id}</if>
            <if test="put_name != '' and put_name != null"> AND put_name =#{put_name}</if>
            <if test="put_phone != '' and put_phone != null">AND put_phone = #{put_phone}</if>
            <if test="p_type != '' and p_type != null">AND p_type = #{p_type}</if>
            <if test="source_code != '' and source_code != null">AND source_code = #{source_code}</if>
            <if test="crop_name != '' and crop_name != null">AND crop_name = #{crop_name}</if>
            <if test="put_content != '' and put_content != null">AND put_content = #{put_content}</if>
            <if test="put_time != '' and put_time != null">AND put_time = #{put_time}</if>
            <if test="reply_way != '' and reply_way != null">AND reply_way = #{reply_way}</if>
            <if test="reply_time != '' and reply_time != null">AND reply_time = #{reply_time}</if>
            <if test="farm_id != '' and farm_id != null">AND farm_id = #{farm_id}</if>
            <if test="farm_name != '' and farm_name != null">AND farm_name = #{farm_name}</if>
            <if test="reply_content != '' and reply_content != null">AND reply_content = #{reply_content}</if>
            <if test="status != '' and status != null">AND status = #{status}</if>
		</where>
	</select>

	<!--单个查询-->
	<select id="find" parameterType="com.hniois.monitor.entity.Complain" resultType="com.hniois.monitor.entity.Complain">
		select *
		from r_complain
		where 1=1
		<if test="id !=null and id !=''">AND id=#{id}</if>
		<if test="put_name != '' and put_name != null">AND put_name =#{put_name}</if>
		<if test="put_phone != '' and put_phone != null">AND put_phone = #{put_phone}</if>
		<if test="p_type != '' and p_type != null">AND p_type = #{p_type}</if>
		<if test="source_code != '' and source_code != null">AND source_code = #{source_code}</if>
		<if test="crop_name != '' and crop_name != null">AND crop_name = #{crop_name}</if>
		<if test="put_content != '' and put_content != null">AND put_content = #{put_content}</if>
		<if test="put_time != '' and put_time != null">AND put_time = #{put_time}</if>
		<if test="reply_way != '' and reply_way != null">AND reply_way = #{reply_way}</if>
		<if test="reply_time != '' and reply_time != null">AND reply_time = #{reply_time}</if>
		<if test="farm_id != '' and farm_id != null">AND farm_id = #{farm_id}</if>
		<if test="farm_name != '' and farm_name != null">AND farm_name = #{farm_name}</if>
		<if test="reply_content != '' and reply_content != null">AND reply_content = #{reply_content}</if>
		<if test="status != '' and status != null">AND status = #{status}</if>
	</select>
	<!-- 修改 -->
	<update id="update" parameterType="com.hniois.monitor.entity.Complain">
		update r_complain
		<set>
			<if test="put_name !=null and put_name !=''">put_name=#{put_name},</if>
			<if test="put_phone !=null and put_phone !=''">put_phone=#{put_phone},</if>
			<if test="put_content !=null and put_content !=''">put_content=#{put_content},</if>
			<if test="put_time !=null and put_time !=''">put_time=#{put_time},</if>
			<if test="crop_name !=null and crop_name !=''">crop_name=#{crop_name},</if>
			<if test="reply_way !=null and reply_way !=''">reply_way=#{reply_way},</if>
			<if test="reply_time !=null and reply_time !=''">reply_time=#{reply_time},</if>
			<if test="reply_content !=null and reply_content !=''">reply_content=#{reply_content},</if>
			<if test="status !=null and status !=''">status=#{status},</if>
			<if test="p_type !=null and p_type !=''">p_type=#{p_type},</if>
			<if test="source_code !=null and source_code !=''">source_code=#{source_code},</if>
			<if test="crop_name !=null and crop_name !=''">crop_name=#{crop_name},</if>
			<if test="farm_id !=null and farm_id !=''">farm_id=#{farm_id},</if>
			<if test="farm_name !=null and farm_name !=''">farm_name=#{farm_name},</if>
		</set>
		where id=#{id}
	</update>

    <!--单个删除-->
    <delete id="delete" parameterType="com.hniois.monitor.entity.Complain">
		DELETE FROM r_complain
		WHERE id=#{id}
	</delete>

    <!--批量删除-->
    <delete id="deleteBatch" parameterType="java.util.ArrayList">
        DELETE FROM r_complain
        WHERE id IN
        <foreach item="item" index="index" collection="data" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

	<insert id="save" parameterType="com.hniois.monitor.entity.Complain" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO r_complain
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="put_name != null and put_name != ''" >put_name,</if>
			<if test="put_phone != null and put_phone != ''" >put_phone,</if>
			<if test="p_type != null and p_type != ''" >p_type,</if>
			<if test="source_code != null and source_code != ''" >source_code,</if>
			<if test="crop_name != null and crop_name != ''" >crop_name,</if>
			<if test="put_content != null and put_content != ''" >put_content,</if>
			<if test="put_time != null and put_time != ''" >put_time,</if>
			<if test="farm_id != null and farm_id != ''" >farm_id,</if>
			<if test="farm_name != null and farm_name != ''" >farm_name,</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="put_name != null and put_name != ''" >#{put_name},</if>
			<if test="put_phone != null and put_phone != ''" >#{put_phone},</if>
			<if test="p_type != null and p_type != ''" >#{p_type},</if>
			<if test="source_code != null and source_code != ''" >#{source_code},</if>
			<if test="crop_name != null and crop_name != ''" >#{crop_name},</if>
			<if test="put_content != null and put_content != ''" >#{put_content},</if>
			<if test="put_time != null and put_time != ''" >#{put_time},</if>
			<if test="farm_id != null and farm_id != ''" >#{farm_id},</if>
			<if test="farm_name != null and farm_name != ''" >#{farm_name},</if>
		</trim>
	</insert>

	<!--投诉建议统计-->
	<select id="statistics" resultType="java.util.Map">
		SELECT a.advice ,b.warn,b.time from
		(
		SELECT SUM(case p_type
		WHEN '建议' then 1
		when '投诉' then 0
		else 0 END
		)as 'advice',DATE_FORMAT(put_time,'%Y-%m') AS 'time' FROM r_complain
		GROUP BY time
		HAVING time
		BETWEEN DATE_FORMAT(DATE_ADD(CURDATE(),INTERVAL -6 MONTH),'%Y-%m')
		AND DATE_FORMAT(CURDATE(),'%Y-%m')
		) as a  ,
		(
		SELECT SUM(case p_type
		WHEN '建议' then 0
		when '投诉' then 1
		else 0 END
		)as 'warn',DATE_FORMAT(put_time,'%Y-%m') AS 'time' FROM r_complain
		GROUP BY time
		HAVING time
		BETWEEN DATE_FORMAT(DATE_ADD(CURDATE(),INTERVAL -6 MONTH),'%Y-%m')
		AND DATE_FORMAT(CURDATE(),'%Y-%m')
		) as b
		WHERE a.time=b.time
	</select>

	<!--投诉建议统计-->
	<select id="warnAndAdvice" parameterType="com.hniois.monitor.entity.Complain" resultType="com.hniois.monitor.entity.Complain">
		SELECT a.advice ,b.warn ,b.time from
		(
		SELECT SUM(case p_type
		WHEN '建议' then 1
		when '投诉' then 0
		else 0 END
		)as 'advice',DATE_FORMAT(put_time,'%Y-%m') AS 'time' FROM r_complain
		GROUP BY time
		HAVING time
		BETWEEN DATE_FORMAT(DATE_ADD(CURDATE(),INTERVAL -6 MONTH),'%Y-%m')
		AND DATE_FORMAT(CURDATE(),'%Y-%m')
		) as a  ,
		(
		SELECT SUM(case p_type
		WHEN '建议' then 0
		when '投诉' then 1
		else 0 END
		)as 'warn',DATE_FORMAT(put_time,'%Y-%m') AS 'time' FROM r_complain
		GROUP BY time
		HAVING time
		BETWEEN DATE_FORMAT(DATE_ADD(CURDATE(),INTERVAL -6 MONTH),'%Y-%m')
		AND DATE_FORMAT(CURDATE(),'%Y-%m')
		) as b
		WHERE a.time=b.time
	</select>

</mapper>