<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RegisterMapper">
    <!-- 保存 -->
    <insert id="save" parameterType="com.hniois.monitor.entity.Register" useGeneratedKeys="true" keyProperty="id">
        insert into r_register(r_id
        <if test="p_name!='' and p_name!=null">,p_name</if>
        <if test="p_form!='' and p_form!=null">,p_form</if>
        <if test="p_industry!='' and p_industry!=null">,p_industry</if>
        <if test="p_category!='' and p_category!=null">,p_category</if>
        <if test="p_certificate!='' and p_certificate!=null">,p_certificate</if>
        <if test="p_register!='' and p_register!=null">,p_register</if>
        <if test="p_time!='' and p_time!=null">,p_time</if>
        <if test="p_province!='' and p_province!=null">,p_province</if>
        <if test="p_city!='' and p_city!=null">,p_city</if>
        <if test="p_area!='' and p_area!=null">,p_area</if>
        <if test="p_address!='' and p_address!=null">,p_address</if>
        <if test="p_phone!='' and p_phone!=null">,p_phone</if>
        <if test="p_longitude!='' and p_longitude!=null">,p_longitude</if>
        <if test="p_latitude!='' and p_latitude!=null">,p_latitude</if>
        <if test="p_person!='' and p_person!=null">,p_person</if>
        <if test="p_qualifications!='' and p_qualifications!=null">,p_qualifications</if>
        <if test="brief!='' and brief!=null">,brief</if>
        <if test="apo_reason!='' and apo_reason!=null">,apo_reason</if>
        <if test="aly_time!='' and aly_time!=null">,aly_time</if>
        <if test="apo_time!='' and apo_time!=null">,apo_time</if>
        <if test="state!='' and state!=null">,state</if>
        )
        values (r_id
        <if test="p_name!='' and p_name!=null">,#{p_name}</if>
        <if test="p_form!='' and p_form!=null">,#{p_form}</if>
        <if test="p_industry!='' and p_industry!=null">,#{p_industry}</if>
        <if test="p_category!='' and p_category!=null">,#{p_category}</if>
        <if test="p_certificate!='' and p_certificate!=null">,#{p_certificate}</if>
        <if test="p_register!='' and p_register!=null">,#{p_register}</if>
        <if test="p_time!='' and p_time!=null">,#{p_time}</if>
        <if test="p_province!='' and p_province!=null">,#{p_province}</if>
        <if test="p_city!='' and p_city!=null">,#{p_city}</if>
        <if test="p_area!='' and p_area!=null">,#{p_area}</if>
        <if test="p_address!='' and p_address!=null">,#{p_address}</if>
        <if test="p_phone!='' and p_phone!=null">,#{p_phone}</if>
        <if test="p_longitude!='' and p_longitude!=null">,#{p_longitude}</if>
        <if test="p_latitude!='' and p_latitude!=null">,#{p_latitude}</if>
        <if test="p_person!='' and p_person!=null">,#{p_person}</if>
        <if test="p_qualifications!='' and p_qualifications!=null">,#{p_qualifications}</if>
        <if test="brief!='' and brief!=null">,#{brief}</if>
        <if test="apo_reason!='' and apo_reason!=null">,#{apo_reason}</if>
        <if test="aly_time!='' and aly_time!=null">,#{aly_time}</if>
        <if test="apo_time!='' and apo_time!=null">,#{apo_time}</if>
        <if test="state!='' and state!=null">,#{state}</if>
        )
    </insert>


    <!-- 修改 -->
    <update id="update" parameterType="com.hniois.monitor.entity.Register">
        update r_register
        <set>
            <if test="p_name!='' and p_name!=null">`p_name`=#{p_name},</if>
            <if test="p_form!='' and p_form!=null">`p_form`=#{p_form},</if>
            <if test="p_industry!='' and p_industry!=null">`p_industry`=#{p_industry},</if>
            <if test="p_category!='' and p_category!=null">`p_category`=#{p_category},</if>
            <if test="p_certificate!='' and p_certificate!=null">`p_certificate`=#{p_certificate},</if>
            <if test="p_register!='' and p_register!=null">`p_register`=#{p_register},</if>
            <if test="p_time!='' and p_time!=null">`p_time`=#{p_time},</if>
            <if test="p_province!='' and p_province!=null">p_province=#{p_province},</if>
            <if test="p_city!='' and p_city!=null">p_city=#{p_city},</if>
            <if test="p_area!='' and p_area!=null">p_area=#{p_area},</if>
            <if test="p_address!='' and p_address!=null">`p_address`=#{p_address},</if>
            <if test="p_phone!='' and p_phone!=null">`p_phone`=#{p_phone},</if>
            <if test="p_longitude!='' and p_longitude!=null">`p_longitude`=#{p_longitude},</if>
            <if test="p_latitude!='' and p_latitude!=null">`p_latitude`=#{p_latitude},</if>
            <if test="p_person!='' and p_person!=null">`p_person`=#{p_person},</if>
            <if test="p_qualifications!='' and p_qualifications!=null">`p_qualifications`=#{p_qualifications},</if>
            <if test="p_path!='' and p_path!=null">
                `p_qualifications`= REPLACE(`p_qualifications`,CONCAT(#{p_path},','),''),
            </if>
            <if test="brief!='' and brief!=null">brief=#{brief},</if>
            <if test="apo_reason!='' and apo_reason!=null">apo_reason=#{apo_reason}</if>
            <if test="aly_time!='' and aly_time!=null">aly_time=#{aly_time}</if>
            <if test="apo_time!='' and apo_time!=null">apo_time=#{apo_time}</if>
            <if test="state!='' and state!=null">state=#{state}</if>
        </set>
        where r_id=#{r_id}
    </update>



    <!-- 删除 -->
    <delete id="delete" parameterType="com.hniois.monitor.entity.Register">
        delete from r_register where 1=1
        <if test="r_id!='' and r_id!=null">and r_id=#{r_id}</if>
        <if test="p_name!='' and p_name!=null">and `p_name`=#{p_name}</if>
        <if test="p_form!='' and p_form!=null">and `p_form`=#{p_form}</if>
        <if test="p_industry!='' and p_industry!=null">and `p_industry`=#{p_industry}</if>
        <if test="p_category!='' and p_category!=null">and `p_category`=#{p_category}</if>
        <if test="p_certificate!='' and p_certificate!=null">and `p_certificate`=#{p_certificate}</if>
        <if test="p_register!='' and p_register!=null">and `p_register`=#{p_register}</if>
        <if test="p_time!='' and p_time!=null">and `p_time`=#{p_time}</if>
        <if test="p_province!='' and p_province!=null">and p_province=#{p_province}</if>
        <if test="p_city!='' and p_city!=null">and p_city=#{p_city}</if>
        <if test="p_area!='' and p_area!=null">and p_area=#{p_area}</if>
        <if test="p_address!='' and p_address!=null">and `p_address`=#{p_address}</if>
        <if test="p_phone!='' and p_phone!=null">and p_phone=#{p_phone}</if>
        <if test="p_longitude!='' and p_longitude!=null">and p_longitude=#{p_longitude}</if>
        <if test="p_latitude!='' and p_latitude!=null">and p_latitude=#{p_latitude}</if>
        <if test="p_person!='' and p_person!=null">and p_person=#{p_person}</if>
        <if test="p_qualifications!='' and p_qualifications!=null">and p_qualifications=#{p_qualifications}</if>
        <if test="brief!='' and brief!=null">and brief=#{brief}</if>
        <if test="apo_reason!='' and apo_reason!=null">and apo_reason=#{apo_reason}</if>
        <if test="aly_time!='' and aly_time!=null">and aly_time=#{aly_time}</if>
        <if test="apo_time!='' and apo_time!=null">and apo_time=#{apo_time}</if>
        <if test="state!='' and state!=null">and state=#{state}</if>
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteBatch" parameterType="java.util.ArrayList">
        delete from r_register
        where r_id in
        <foreach item="item" index="index" collection="data" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 查询 -->
    <select id="find" parameterType="com.hniois.monitor.entity.Register" resultType="com.hniois.monitor.entity.Register">
        select	t.*
        from r_register t
        where 1=1
        <if test="r_id!='' and r_id!=null">and t.r_id=#{r_id}</if>
        <if test="p_name!='' and p_name!=null">and t.p_name=#{p_name}</if>
        <if test="p_form!='' and p_form!=null">and t.p_form=#{p_form}</if>
        <if test="p_industry!='' and p_industry!=null">and t.p_industry=#{p_industry}</if>
        <if test="p_category!='' and p_category!=null">and t.p_category=#{p_category}</if>
        <if test="p_certificate!='' and p_certificate!=null">and t.p_certificate=#{p_certificate}</if>
        <if test="p_register!='' and p_register!=null">and t.`p_register`=#{p_register}</if>
        <if test="p_time!='' and p_time!=null">and t.`p_time`=#{p_time}</if>
        <if test="p_province!='' and p_province!=null">and t.p_province=#{p_province}</if>
        <if test="p_city!='' and p_city!=null">and t.p_city=#{p_city}</if>
        <if test="p_area!='' and p_area!=null">and t.p_area=#{p_area}</if>
        <if test="p_address!='' and p_address!=null">and t.`p_address`=#{p_address}</if>
        <if test="p_phone!='' and p_phone!=null">and t.p_phone=#{p_phone}</if>
        <if test="p_longitude!='' and p_longitude!=null">and t.p_longitude=#{p_longitude}</if>
        <if test="p_latitude!='' and p_latitude!=null">and t.p_latitude=#{p_latitude}</if>
        <if test="p_person!='' and p_person!=null">and t.p_person=#{p_person}</if>
        <if test="p_person!='' and p_person!=null">and t.p_person=#{p_person}</if>
        <if test="brief!='' and brief!=null">and t.brief=#{brief}</if>
        <if test="apo_reason!='' and apo_reason!=null">and t.apo_reason=#{apo_reason}</if>
        <if test="aly_time!='' and aly_time!=null">and t.aly_time=#{aly_time}</if>
        <if test="apo_time!='' and apo_time!=null">and t.apo_time=#{apo_time}</if>
        <if test="p_qualifications!='' and p_qualifications!=null">and t.p_qualifications=#{p_qualifications}</if>
        <if test="state!='' and state!=null">and t.state=#{state}</if>
    </select>

    <!-- 查询List -->
    <select id="findList" parameterType="com.hniois.monitor.entity.Register" resultType="com.hniois.monitor.entity.Register">
        select	t.*
        from r_register t
        where 1=1
        <if test="r_id!='' and r_id!=null">and t.r_id=#{r_id}</if>
        <if test="p_name!='' and p_name!=null">and t.`p_name`=#{p_name}</if>
        <if test="p_form!='' and p_form!=null">and t.`p_form`=#{p_form}</if>
        <if test="p_industry!='' and p_industry!=null">and t.`p_industry`=#{p_industry}</if>
        <if test="p_category!='' and p_category!=null">and t.`p_category`=#{p_category}</if>
        <if test="p_certificate!='' and p_certificate!=null">and t.`p_certificate`=#{p_certificate}</if>
        <if test="p_register!='' and p_register!=null">and t.`p_register`=#{p_register}</if>
        <if test="p_time!='' and p_time!=null">and t.`p_time`=#{p_time}</if>
        <if test="p_province!='' and p_province!=null">and t.p_province=#{p_province}</if>
        <if test="p_city!='' and p_city!=null">and t.p_city=#{p_city}</if>
        <if test="p_area!='' and p_area!=null">and t.p_area=#{p_area}</if>
        <if test="p_address!='' and p_address!=null">and t.`p_address`=#{p_address}</if>
        <if test="p_phone!='' and p_phone!=null">and t.p_phone=#{p_phone}</if>
        <if test="p_longitude!='' and p_longitude!=null">and t.p_longitude=#{p_longitude}</if>
        <if test="p_latitude!='' and p_latitude!=null">and t.p_latitude=#{p_latitude}</if>
        <if test="p_person!='' and p_person!=null">and t.p_person=#{p_person}</if>
        <if test="brief!='' and brief!=null">and t.brief=#{brief}</if>
        <if test="apo_reason!='' and apo_reason!=null">and t.apo_reason=#{apo_reason}</if>
        <if test="aly_time!='' and aly_time!=null">and t.aly_time=#{aly_time}</if>
        <if test="apo_time!='' and apo_time!=null">and t.apo_time=#{apo_time}</if>
        <if test="p_qualifications!='' and p_qualifications!=null">and t.p_qualifications=#{p_qualifications}</if>
        <if test="state!='' and state!=null">and t.state=#{state}</if>
        order by t.aly_time
    </select>

    <!-- 查询Count -->
    <select id="findCount" parameterType="com.hniois.monitor.entity.Register" resultType="java.lang.Integer">
        select count(*)
        from r_register t
        where 1=1
        <if test="r_id!='' and r_id!=null">and t.r_id=#{r_id}</if>
        <if test="p_name!='' and p_name!=null">and t.`p_name`=#{p_name}</if>
        <if test="p_form!='' and p_form!=null">and t.`p_form`=#{p_form}</if>
        <if test="p_industry!='' and p_industry!=null">and t.`p_industry`=#{p_industry}</if>
        <if test="p_category!='' and p_category!=null">and t.`p_category`=#{p_category}</if>
        <if test="p_certificate!='' and p_certificate!=null">and t.`p_certificate`=#{p_certificate}</if>
        <if test="p_register!='' and p_register!=null">and t.`p_register`=#{p_register}</if>
        <if test="p_time!='' and p_time!=null">and t.`p_time`=#{p_time}</if>
        <if test="p_province!='' and p_province!=null">and t.p_province=#{p_province}</if>
        <if test="p_city!='' and p_city!=null">and t.p_city=#{p_city}</if>
        <if test="p_area!='' and p_area!=null">and t.p_area=#{p_area}</if>
        <if test="p_address!='' and p_address!=null">and t.`p_address`=#{p_address}</if>
        <if test="p_phone!='' and p_phone!=null">and t.p_phone=#{p_phone}</if>
        <if test="p_longitude!='' and p_longitude!=null">and t.p_longitude=#{p_longitude}</if>
        <if test="p_latitude!='' and p_latitude!=null">and t.p_latitude=#{p_latitude}</if>
        <if test="p_person!='' and p_person!=null">and t.p_person=#{p_person}</if>
        <if test="brief!='' and brief!=null">and t.brief=#{brief}</if>
        <if test="apo_reason!='' and apo_reason!=null">and t.apo_reason=#{apo_reason}</if>
        <if test="aly_time!='' and aly_time!=null">and t.aly_time=#{aly_time}</if>
        <if test="apo_time!='' and apo_time!=null">and t.apo_time=#{apo_time}</if>
        <if test="p_qualifications!='' and p_qualifications!=null">and t.p_qualifications=#{p_qualifications}</if>
        <if test="state!='' and state!=null">and t.state=#{state}</if>
    </select>

    <!-- 分页查询 -->
    <select id="findPage" parameterType="com.hniois.monitor.entity.Register" resultType="com.hniois.monitor.entity.Register">
        select	t.*
        from r_register t
        where 1=1
        <if test="r_id!='' and r_id!=null">and t.r_id=#{r_id}</if>
        <if test="p_name!='' and p_name!=null">and t.`p_name`=#{p_name}</if>
        <if test="p_form!='' and p_form!=null">and t.`p_form`=#{p_form}</if>
        <if test="p_industry!='' and p_industry!=null">and t.`p_industry`=#{p_industry}</if>
        <if test="p_category!='' and p_category!=null">and t.`p_category`=#{p_category}</if>
        <if test="p_certificate!='' and p_certificate!=null">and t.`p_certificate`=#{p_certificate}</if>
        <if test="p_register!='' and p_register!=null">and t.`p_register`=#{p_register}</if>
        <if test="p_time!='' and p_time!=null">and t.`p_time`=#{p_time}</if>
        <if test="p_province!='' and p_province!=null">and t.p_province=#{p_province}</if>
        <if test="p_city!='' and p_city!=null">and t.p_city=#{p_city}</if>
        <if test="p_area!='' and p_area!=null">and t.p_area=#{p_area}</if>
        <if test="p_address!='' and p_address!=null">and t.`p_address`=#{p_address}</if>
        <if test="p_phone!='' and p_phone!=null">and t.p_phone=#{p_phone}</if>
        <if test="p_longitude!='' and p_longitude!=null">and t.p_longitude=#{p_longitude}</if>
        <if test="p_latitude!='' and p_latitude!=null">and t.p_latitude=#{p_latitude}</if>
        <if test="p_person!='' and p_person!=null">and t.p_person=#{p_person}</if>
        <if test="brief!='' and brief!=null">and t.brief=#{brief}</if>
        <if test="apo_reason!='' and apo_reason!=null">and t.apo_reason=#{apo_reason}</if>
        <if test="aly_time!='' and aly_time!=null">and t.aly_time=#{aly_time}</if>
        <if test="apo_time!='' and apo_time!=null">and t.apo_time=#{apo_time}</if>
        <if test="p_qualifications!='' and p_qualifications!=null">and t.p_qualifications=#{p_qualifications}</if>
        <if test="state!='' and state!=null">and t.state=#{state}</if>
        order by t.aly_time
        limit #{offset},#{pageSize}
    </select>

    <!-- 分页查询Count -->
    <select id="findPageCount" parameterType="com.hniois.monitor.entity.Register" resultType="java.lang.Integer">
        select count(*)
        from r_register t
        where 1=1
        <if test="r_id!='' and r_id!=null">and t.r_id=#{r_id}</if>
        <if test="p_name!='' and p_name!=null">and t.`p_name`=#{p_name}</if>
        <if test="p_form!='' and p_form!=null">and t.`p_form`=#{p_form}</if>
        <if test="p_industry!='' and p_industry!=null">and t.`p_industry`=#{p_industry}</if>
        <if test="p_category!='' and p_category!=null">and t.`p_category`=#{p_category}</if>
        <if test="p_certificate!='' and p_certificate!=null">and t.`p_certificate`=#{p_certificate}</if>
        <if test="p_register!='' and p_register!=null">and t.`p_register`=#{p_register}</if>
        <if test="p_time!='' and p_time!=null">and t.`p_time`=#{p_time}</if>
        <if test="p_province!='' and p_province!=null">and t.p_province=#{p_province}</if>
        <if test="p_city!='' and p_city!=null">and t.p_city=#{p_city}</if>
        <if test="p_area!='' and p_area!=null">and t.p_area=#{p_area}</if>
        <if test="p_address!='' and p_address!=null">and t.`p_address`=#{p_address}</if>
        <if test="p_phone!='' and p_phone!=null">and t.p_phone=#{p_phone}</if>
        <if test="p_longitude!='' and p_longitude!=null">and t.p_longitude=#{p_longitude}</if>
        <if test="p_latitude!='' and p_latitude!=null">and t.p_latitude=#{p_latitude}</if>
        <if test="p_person!='' and p_person!=null">and t.p_person=#{p_person}</if>
        <if test="brief!='' and brief!=null">and t.brief=#{brief}</if>
        <if test="apo_reason!='' and apo_reason!=null">and t.apo_reason=#{apo_reason}</if>
        <if test="aly_time!='' and aly_time!=null">and t.aly_time=#{aly_time}</if>
        <if test="apo_time!='' and apo_time!=null">and t.apo_time=#{apo_time}</if>
        <if test="p_qualifications!='' and p_qualifications!=null">and t.p_qualifications=#{p_qualifications}</if>
        <if test="state!='' and state!=null">and t.state=#{state}</if>
    </select>
</mapper>