<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TaskMapper">
	<!--分页查询-->
	<select id="findPage" parameterType="com.hniois.monitor.entity.Task" resultType="com.hniois.monitor.entity.Task">
		SELECT * FROM r_task
		<where>
			<if test="type != '' and type != null">AND type = #{type}</if>
			<if test="content != '' and content != null">AND content = #{content}</if>
			<if test="publish_dept != '' and publish_dept != null">AND publish_dept = #{publish_dept}</if>
			<if test="publish_id != '' and publish_id != null">AND publish_id = #{publish_id}</if>
			<if test="create_time != '' and create_time != null">AND create_time = #{create_time}</if>
			<if test="start_time != '' and start_time != null">AND start_time = #{start_time}</if>
			<if test="rank != '' and rank != null">AND rank = #{rank}</if>
			<if test="end_time != '' and end_time != null">AND end_time = #{end_time}</if>
		</where>
		limit #{offset},#{pageSize}
	</select>

	<!--分页查询count-->
	<select id="findPageCount" parameterType="com.hniois.monitor.entity.Task" resultType="java.lang.Integer">
		SELECT count(*) FROM r_task
		<where>
			<if test="name != '' and name != null">name = #{name}</if>
            <if test="type != '' and type != null">AND type = #{type}</if>
            <if test="content != '' and content != null">AND content = #{content}</if>
            <if test="publish_dept != '' and publish_dept != null">AND publish_dept = #{publish_dept}</if>
            <if test="publish_id != '' and publish_id != null">AND publish_id = #{publish_id}</if>
            <if test="create_time != '' and create_time != null">AND create_time = #{create_time}</if>
            <if test="start_time != '' and start_time != null">AND start_time = #{start_time}</if>
            <if test="rank != '' and rank != null">AND rank = #{rank}</if>
            <if test="end_time != '' and end_time != null">AND end_time = #{end_time}</if>
		</where>
	</select>
	<!--单个查询-->
	<select id="find" parameterType="com.hniois.monitor.entity.Task" resultType="com.hniois.monitor.entity.Task">
		SELECT * FROM r_task WHERE id = #{id}
	</select>

	<!--新增-->
	<insert id="save" parameterType="com.hniois.monitor.entity.Task" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO r_task
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null and name != ''" >name,</if>
			<if test="type != null and type != ''" >type,</if>
			<if test="content != null and content != ''" >content,</if>
			<if test="publish_dept != null and publish_dept != ''" >publish_dept,</if>
			<if test="publish_id != null and publish_id != ''" >publish_id,</if>
			<if test="rank != null and rank != ''" >rank,</if>
			<if test="create_time != null and create_time != ''" >create_time,</if>
			<if test="start_time != null and start_time != ''" >start_time,</if>
			<if test="end_time != null and end_time != ''" >end_time,</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null and name != ''" >#{name},</if>
			<if test="type != null and type != ''" >#{type},</if>
			<if test="content != null and content != ''" >#{content},</if>
			<if test="publish_dept != null and publish_dept != ''" >#{publish_dept},</if>
			<if test="publish_id != null and publish_id != ''" >#{publish_id},</if>
			<if test="rank != null and rank != ''" >#{rank},</if>
			<if test="create_time != null and create_time != ''" >#{create_time},</if>
			<if test="start_time != null and start_time != ''" >#{start_time},</if>
			<if test="end_time != null and end_time != ''" >#{end_time},</if>
		</trim>
	</insert>
	<!--修改-->
	<update id="update" parameterType="com.hniois.monitor.entity.Task">
		UPDATE r_task
		<set>
			<if test="name != null and name != ''" >name = #{name},</if>
			<if test="type != null and type != ''" >type = #{type},</if>
			<if test="content != null and content != ''" >content = #{content},</if>
			<if test="publish_dept != null and publish_dept != ''" >publish_dept = #{publish_dept},</if>
			<if test="publish_id != null and publish_id != ''" >publish_id = #{publish_id},</if>
			<if test="rank != null and rank != ''" >rank = #{rank},</if>
			<if test="create_time != null and create_time != ''" >create_time = #{create_time},</if>
			<if test="start_time != null and start_time != ''" >start_time = #{start_time},</if>
			<if test="end_time != null and end_time != ''" >end_time = #{end_time},</if>
		</set>
		WHERE id = #{id}
	</update>
	<!--单个删除-->
	<delete id="delete" parameterType="com.hniois.monitor.entity.Task">
		DELETE FROM r_task
		WHERE id=#{id}
	</delete>
	<!--批量删除-->
	<delete id="deleteBatch" parameterType="java.util.ArrayList">
		DELETE FROM r_task
		WHERE id IN
		<foreach item="item" index="index" collection="data" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<select id="findList" parameterType="com.hniois.monitor.entity.Task" resultType="com.hniois.monitor.entity.Task">
		SELECT * FROM r_task
		<where>
			<if test="name != '' and name != null">AND name = #{name}</if>
			<if test="type != '' and type != null">AND type = #{type}</if>
			<if test="content != '' and content != null">AND content = #{content}</if>
			<if test="publish_dept != '' and publish_dept != null">AND publish_dept = #{publish_dept}</if>
			<if test="publish_id != '' and publish_id != null">AND publish_id = #{publish_id}</if>
			<if test="rank != '' and rank != null">AND rank = #{rank}</if>
			<if test="create_time != '' and create_time != null">AND create_time = #{create_time}</if>
			<if test="start_time != '' and start_time != null">AND start_time = #{start_time}</if>
			<if test="end_time != '' and end_time != null">AND end_time = #{end_time}</if>
		</where>
	</select>

</mapper>